/* Game Over container */
#gameOverScreen {
  display: none;          /* Hidden by default */
  text-align: center;
  color: yellow;
  font-family: sans-serif;
  font-size: 2em;
  margin-top: 50px;
}
#game-over{
  font-size: 2.5em;
  margin-bottom: 20px;
  color: lightseagreen;
}
/* Final score text */
#finalScore {
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* Restart button */
#restartBtn {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: 2px solid lightgreen;
  border-radius: 8px;
  background-color: black;
  color: lightgreen;
  box-shadow: 0 0 10px lightgreen;
  transition: 0.2s;
}

#restartBtn:hover {
  background-color: lightgreen;
  color: black;
  box-shadow: 0 0 20px lightgreen;
}
